<opla-grid-list>
  <opla-grid-tile style="display:flex; justify-content: center;">
    <mat-card class="login-card">
      <mat-card-header style="width: 100%; display: flex; justify-content: center;">
        <mat-card-title>
            <img style="width: 150px" src="https://raw.githubusercontent.com/SBSE-UEM/OPLA-Tool/master/logo-grupo-pesquisa.png" alt="favicon">
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form class="example-form" [formGroup]="loginForm">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Usuário</mat-label>
            <input matInput placeholder="Usuário" name="username"
                   formControlName="loginInput"
                   (keydown.enter)="logar()"
                   required>
          </mat-form-field>
          <br>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput placeholder="Senha" type="password" name="password"
                   formControlName="passwordInput"
                   (keydown.enter)="logar()"
                   required>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions style="display: flex; justify-content: space-between;">
        <button mat-button (click)="logar()">I forgot my password</button>
        <button mat-raised-button (click)="logar()" color="primary">
          <mat-icon [style.display]="showSpinner ? 'inline-block' : 'none'">
            <mat-spinner color="warn" diameter="20"></mat-spinner>
          </mat-icon>
          Entrar
        </button>
      </mat-card-actions>
    </mat-card>
  </opla-grid-tile>
</opla-grid-list>

