<div class="example-container" *ngIf="optimizationDto">
  <form [formGroup]="options">
    <mat-grid-list cols="4" rowHeight="80px">
      <mat-grid-tile>
        <mat-checkbox [formControl]="hideRequiredControl"  [(ngModel)]="optimizationDto.config.smarty" formControlName="smarty">SMarty</mat-checkbox>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-checkbox [formControl]="hideRequiredControl"  [(ngModel)]="optimizationDto.config.feature" formControlName="feature">Feature</mat-checkbox>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-checkbox [formControl]="hideRequiredControl"  [(ngModel)]="optimizationDto.config.patterns" formControlName="patterns">Patterns</mat-checkbox>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-checkbox [formControl]="hideRequiredControl"  [(ngModel)]="optimizationDto.config.relationships" formControlName="relationships">Relationships</mat-checkbox>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="80px">
      <mat-grid-tile>
        <mat-form-field [floatLabel]="floatLabelControl.value">
          <mat-label>Smarty Profile</mat-label>
          <input matInput placeholder="Directory: /home/..." [(ngModel)]="optimizationDto.config.pathToProfile" formControlName="pathToProfile">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field [floatLabel]="floatLabelControl.value">
          <mat-label>Feature Profile</mat-label>
          <input matInput placeholder="Directory: /home/..." [(ngModel)]="optimizationDto.config.pathToProfileConcern" formControlName="pathToProfileConcern">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="80px">
      <mat-grid-tile>
        <mat-form-field [floatLabel]="floatLabelControl.value">
          <mat-label>Pattern Profile</mat-label>
          <input matInput placeholder="Directory: /home/..." [(ngModel)]="optimizationDto.config.pathToProfilePatterns" formControlName="pathToProfilePatterns">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field [floatLabel]="floatLabelControl.value">
          <mat-label>Relationship Configuration</mat-label>
          <input matInput placeholder="Directory: /home/..." [(ngModel)]="optimizationDto.config.pathToProfileRelationships" formControlName="pathToProfileRelationships">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="80px">
      <mat-grid-tile>
        <mat-form-field [floatLabel]="floatLabelControl.value">
          <mat-label>Template Configuration</mat-label>
          <input matInput placeholder="Directory: /home/..." [(ngModel)]="optimizationDto.config.pathToTemplateModelsDirectory" formControlName="pathToTemplateModelsDirectory">
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field [floatLabel]="floatLabelControl.value">
          <mat-label>Manipulation Configuration</mat-label>
          <input matInput placeholder="Directory: /home/..." [(ngModel)]="optimizationDto.config.directoryToSaveModels" formControlName="directoryToSaveModels">
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>

  </form>
</div>
