<div class="example-container">
  <form [formGroup]="formGroup">
    <opla-grid-list>
      <opla-grid-tile>
        <mat-checkbox [formControl]="hideRequiredControl" (change)="changePatterns('mediator', $event.checked)" >Mediator</mat-checkbox>
      </opla-grid-tile>
      <opla-grid-tile>
        <mat-checkbox [formControl]="hideRequiredControl" (change)="changePatterns('strategy', $event.checked)">Strategy</mat-checkbox>
      </opla-grid-tile>
      <opla-grid-tile>
        <mat-checkbox [formControl]="hideRequiredControl" (change)="changePatterns('bridge', $event.checked)">Bridge</mat-checkbox>
      </opla-grid-tile>
    </opla-grid-list>
    <opla-grid-list>
      <opla-grid-tile>
        <mat-radio-group aria-label="Scope Selection">
          <mat-radio-button value="1">Random</mat-radio-button> &nbsp;
          <mat-radio-button value="2">Elements with same design pattern or none</mat-radio-button>
        </mat-radio-group>
      </opla-grid-tile>
    </opla-grid-list>

  </form>
</div>
