<!--<router-outlet>-->
<!--</router-outlet>-->
<mat-progress-bar mode="indeterminate" *ngIf="isRunning()"></mat-progress-bar>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step>
    <ng-template matStepLabel>Execution Configuration</ng-template>
    <app-execution [optimizationOptions]="optimizationOptions" [formGroup]="executionFormGroup"
                   [optimizationDto]="optimizationDto"></app-execution>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Design Patterns</ng-template>
    <app-pattern [formGroup]="patternFormGroup" [optimizationDto]="optimizationDto"></app-pattern>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Another Configurations</ng-template>
    <app-general [formGroup]="generalFormGroup" [optimizationDto]="optimizationDto"></app-general>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Experiments</ng-template>
    <app-experiments
      [experimentConfigurationService]="experimentConfigurationService"
      [experimentService]="experimentService"
      [objectiveService]="objectiveService"
      [infoService]="infoService"
      (download)="download($event)"></app-experiments>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Results Analysis</ng-template>
    <app-results></app-results>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Logs</ng-template>
    <app-logs></app-logs>
  </mat-step>
</mat-horizontal-stepper>

<button fixedVicButton matTooltip="Optimize" *ngIf="!optimizationInfo || optimizationInfo.status != 'COMPLETE'"
        [disabled]="isRunning()" color="primary" mat-fab aria-label="Optimize" (click)="run(optimizationDto)">
  <mat-icon>cloud_done</mat-icon>
</button>

<button fixedVicButton matTooltip="Download" *ngIf="optimizationInfo != null && optimizationInfo.status == 'COMPLETE'"
        color="accent" mat-fab aria-label="Download" (click)="download(optimizationInfo.hash)">
  <mat-icon>cloud_download</mat-icon>
</button>
