/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
  width: 100%;
}

.mat-card {
  height: 90%;
  width: 100%;
  margin: 10px;
}


button[fixedVicButton] {
  position: fixed;
  bottom: 15px;
  right: 20px;
}

button[fixedVicButton2] > .mat-button-wrapper{
  padding: 0;
}
button[fixedVicButton2] {
  position: fixed;
  bottom: 22px;
  right: 80px;
  width: 35px;
  height: 35px;
}
button[fixedVicButton3] > .mat-button-wrapper{
  padding: 0;
}
button[fixedVicButton3] {
  position: fixed;
  bottom: 24px;
  right: 120px;
  width: 35px;
  height: 35px;
}

.uploadfilecontainer {
  background-image: url("https://cdn.pixabay.com/photo/2017/02/07/02/16/cloud-2044823_960_720.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  height: 200px;
  width: 80%;
  margin: 20px auto;
  border: 2px dashed #1C8ADB;
  border-radius: 10px;
}

.uploadfilecontainer:hover {
  cursor: pointer;
  background-color: #9ecbec !important;
  opacity: 0.8;
}

.files-list {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 10px auto;
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  padding: 5px;
  color: #1c8adb;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list .delete-file img {
  width: 30px;
}

