<div mat-dialog-content>
  <div class="info-box">
    <div style="flex: 1 1 auto; align-self: center">
      <span class="alg-name">Random Tree</span>
    </div>
    <div class="button-wrapper">
      <button mat-icon-button color="accent" aria-label="More">
        <mat-icon>help_outline</mat-icon>
      </button>
    </div>
  </div>

  <!--Info box-->
  <div style="flex: 1 1 auto; margin-bottom: -22px;">
    <mat-form-field appearance="outline">
      <mat-label>About</mat-label>
      <textarea class="about" matInput readonly="readonly">Class for constructing a tree that considers K randomly  chosen attributes at each node.</textarea>
    </mat-form-field>
  </div>

  <!--Algorithm Parameters-->
  <h5>Algorithm Parameters</h5>
  <div class="box-wrapper">
    <form [formGroup]="formGroup">
      <mat-grid-list cols="3" rowHeight="4em" gutterSize="12px">

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>kValue</mat-label>
            <input matInput [(ngModel)]="kValue" formControlName="kValue">
            <mat-error *ngIf="formGroup.get('kValue').hasError('required')">
              Parameter <i>kValue</i> is required
            </mat-error>
            <mat-error *ngIf="formGroup.get('kValue').hasError('min')">
              Value must be greater than 0
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>breakTiesRandomly</mat-label>
            <mat-select [(value)]="breakTiesRandomly">
              <mat-option value="true">True</mat-option>
              <mat-option value="false">False</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>maxDepth</mat-label>
            <input matInput [(ngModel)]="maxDepth" formControlName="maxDepth">
            <mat-error *ngIf="formGroup.get('maxDepth').hasError('required')">
              Parameter <i>maxDepth</i> is required
            </mat-error>
            <mat-error *ngIf="formGroup.get('maxDepth').hasError('min')">
              Value must be greater than 0
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>minNum</mat-label>
            <input matInput [(ngModel)]="minNum" formControlName="minNum">
            <mat-error *ngIf="formGroup.get('minNum').hasError('required')">
              Parameter <i>minNum</i> is required
            </mat-error>
            <mat-error *ngIf="formGroup.get('minNum').hasError('min')">
              Value must be greater than 0
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>minVariancePop</mat-label>
            <input matInput [(ngModel)]="minVariancePop" formControlName="minVariancePop">
            <mat-error *ngIf="formGroup.get('minVariancePop').hasError('required')">
              Parameter <i>minVariancePop</i> is required
            </mat-error>
            <mat-error *ngIf="formGroup.get('minVariancePop').hasError('min')">
              Value must be greater than 0
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field>
            <mat-label>numFolds</mat-label>
            <input matInput [(ngModel)]="numFolds" formControlName="numFolds">
            <mat-error *ngIf="formGroup.get('numFolds').hasError('required')">
              Parameter <i>numFolds</i> is required
            </mat-error>
            <mat-error *ngIf="formGroup.get('numFolds').hasError('min')">
              Value must be greater than 0
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>


      </mat-grid-list>
    </form>
  </div>

  <!--Model Options-->
  <app-modeloptions
    [algorithm]="algorithm"
    [optimizationDto]="data.optimizationDto"
    [parameters]="{kValue: kValue, breakTiesRandomly: breakTiesRandomly, maxDepth: maxDepth,
    minNum: minNum, minVariancePop: minVariancePop, numFolds: numFolds}"></app-modeloptions>

</div>
