<mat-progress-bar mode="indeterminate" *ngIf="isRunning()"></mat-progress-bar>
<button mat-icon-button matTooltip="Logout" matTooltipPosition="left"
        aria-label="Logout" (click)="logout()" style="float: right">
  <mat-icon>exit_to_app</mat-icon>
</button>
<mat-horizontal-stepper labelPosition="bottom" #stepper>


  <mat-step state="mlconfig" [optional]="true">
    <ng-template matStepLabel><span class="hide-on-mobile">ML Configuration</span></ng-template>
    <!--    <app-pattern [formGroup]="mlconfigFormGroup" [optimizationDto]="optimizationDto"></app-pattern>-->
    <app-mlconfig [formGroup]="mlconfigFormGroup" [optimizationOptions]="optimizationOptions" [optimizationDto]="optimizationDto"></app-mlconfig>
  </mat-step>

  <mat-step state="execution">
    <ng-template matStepLabel><span class="hide-on-mobile">Execution Configuration</span></ng-template>
    <app-execution [optimizationOptions]="optimizationOptions"
                   [formGroup]="executionFormGroup"
                   [papyrusFormGroup]="papyrusFormGroup"
                   [(optimizationDto)]="optimizationDto"></app-execution>
  </mat-step>



  <mat-step state="patterns">
    <ng-template matStepLabel><span class="hide-on-mobile">Design Patterns</span></ng-template>
    <app-pattern [formGroup]="patternFormGroup" [optimizationDto]="optimizationDto"></app-pattern>
  </mat-step>
  <mat-step state="experiments">
    <ng-template matStepLabel><span class="hide-on-mobile">Experiments</span></ng-template>
    <app-experiments
      [experimentConfigurationService]="experimentConfigurationService"
      [experimentService]="experimentService"
      [objectiveService]="objectiveService"
      [infoService]="infoService"
      (download)="download($event)"></app-experiments>
  </mat-step>
  <mat-step state="analysis">
    <ng-template matStepLabel><span class="hide-on-mobile">Results Analysis</span></ng-template>
    <app-results
      [experimentConfigurationService]="experimentConfigurationService"
      [experimentService]="experimentService"
      [objectiveService]="objectiveService"
      [infoService]="infoService"
    ></app-results>
  </mat-step>
  <mat-step state="logs">
    <ng-template matStepLabel><span class="hide-on-mobile">Logs</span></ng-template>
    <app-logs [optimizationService]="optimizationService"></app-logs>
  </mat-step>

  <!-- Icon overrides. -->
  <ng-template matStepperIcon="execution">
    <mat-icon>settings</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="mlconfig">
    <mat-icon>school</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="patterns">
    <mat-icon>view_comfy</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="experiments">
    <mat-icon>cloud_done</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="analysis">
    <mat-icon>show_chart</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="logs">
    <mat-icon>bug_report</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="edit" let-index="index">
    <mat-icon *ngIf="index === 0">settings</mat-icon>
    <mat-icon *ngIf="index === 1">view_comfy</mat-icon>
    <mat-icon *ngIf="index === 2">cloud_done</mat-icon>
    <mat-icon *ngIf="index === 3">show_chart</mat-icon>
    <mat-icon *ngIf="index === 4">bug_report</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="done" let-index="index">
    <mat-icon *ngIf="index === 0">settings</mat-icon>
    <mat-icon *ngIf="index === 1">view_comfy</mat-icon>
    <mat-icon *ngIf="index === 2">cloud_done</mat-icon>
    <mat-icon *ngIf="index === 3">show_chart</mat-icon>
    <mat-icon *ngIf="index === 4">bug_report</mat-icon>
  </ng-template>
</mat-horizontal-stepper>

<button fixedVicButton matTooltip="Optimize"
        *ngIf="!optimizationInfo || optimizationInfo.status != 'COMPLETE'"
        [disabled]="isRunning() || executionFormGroup.invalid || optimizationDto.objectiveFunctions.length <= 0 || optimizationDto.mutationOperators.length <= 0"
        color="primary" mat-fab aria-label="Optimize" (click)="run(optimizationDto)">
  <mat-icon>cloud_done</mat-icon>
</button>

<button fixedVicButton matTooltip="Download" *ngIf="optimizationInfo != null && optimizationInfo.status == 'COMPLETE'"
        color="accent" mat-fab aria-label="Download" (click)="download(optimizationInfo.hash)">
  <mat-icon>cloud_download</mat-icon>
</button>
