<mat-progress-bar mode="indeterminate" *ngIf="isRunning()"></mat-progress-bar>
<mat-horizontal-stepper [linear]="isLinear" #stepper>
  <mat-step state="execution">
    <ng-template matStepLabel><span class="hide-on-mobile">Execution Configuration</span></ng-template>
    <app-execution [optimizationOptions]="optimizationOptions" [formGroup]="executionFormGroup"
                   [optimizationDto]="optimizationDto"></app-execution>
  </mat-step>
  <mat-step state="patterns">
    <ng-template matStepLabel><span class="hide-on-mobile">Design Patterns</span></ng-template>
    <app-pattern [formGroup]="patternFormGroup" [optimizationDto]="optimizationDto"></app-pattern>
  </mat-step>
  <mat-step state="another">
    <ng-template matStepLabel><span class="hide-on-mobile">Another Configurations</span></ng-template>
    <app-general [formGroup]="generalFormGroup" [optimizationDto]="optimizationDto"></app-general>
  </mat-step>
  <mat-step state="experiments">
    <ng-template matStepLabel><span class="hide-on-mobile">Experiments</span></ng-template>
    <app-experiments
      [experimentConfigurationService]="experimentConfigurationService"
      [experimentService]="experimentService"
      [objectiveService]="objectiveService"
      [infoService]="infoService"
      (download)="download($event)"></app-experiments>
  </mat-step>
  <mat-step state="analysis">
    <ng-template matStepLabel><span class="hide-on-mobile">Results Analysis</span></ng-template>
    <app-results></app-results>
  </mat-step>
  <mat-step state="logs">
    <ng-template matStepLabel><span class="hide-on-mobile">Logs</span></ng-template>
    <app-logs></app-logs>
  </mat-step>

  <!-- Icon overrides. -->
  <ng-template matStepperIcon="execution">
    <mat-icon>settings</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="patterns">
    <mat-icon>call_end</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="another">
    <mat-icon>unfold_more</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="experiments">
    <mat-icon>backup</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="analysis">
    <mat-icon>show_chart</mat-icon>
  </ng-template>
  <ng-template matStepperIcon="logs">
    <mat-icon>bug_report</mat-icon>
  </ng-template>
</mat-horizontal-stepper>

<button fixedVicButton matTooltip="Optimize" *ngIf="!optimizationInfo || optimizationInfo.status != 'COMPLETE'"
        [disabled]="isRunning()" color="primary" mat-fab aria-label="Optimize" (click)="run(optimizationDto)">
  <mat-icon>cloud_done</mat-icon>
</button>

<button fixedVicButton matTooltip="Download" *ngIf="optimizationInfo != null && optimizationInfo.status == 'COMPLETE'"
        color="accent" mat-fab aria-label="Download" (click)="download(optimizationInfo.hash)">
  <mat-icon>cloud_download</mat-icon>
</button>
<button fixedVicButton2 matTooltip="Logout" color="warn" mat-fab aria-label="Logout" (click)="logout()">
  <mat-icon>exit_to_app</mat-icon>
</button>
