body {
  font-family: Roboto, \"Helvetica Neue\", sans-serif;
  margin: 0;
}

button[fixedVicButton2] > .mat-button-wrapper {
  padding: 0;
}

button[fixedVicButton2] {
  bottom: 22px;
  height: 35px;
  position: fixed;
  right: 80px;
  width: 35px;
}

button[fixedVicButton3] > .mat-button-wrapper {
  padding: 0;
}

button[fixedVicButton3] {
  bottom: 24px;
  height: 35px;
  position: fixed;
  right: 120px;
  width: 35px;
}

button[fixedVicButton] {
  bottom: 15px;
  position: fixed;
  right: 20px;
}

html, body {
  height: 100%;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0 !important;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

tr.element-row:not(.expanded-row):hover {
  background: #777;
}

.element-row td {
  border-bottom-width: 0;
}

.files-list .delete-file img {
  width: 30px;
}

.files-list .delete-file {
  background: transparent;
  border: none;
  cursor: pointer;
}

.files-list {
  background: #ffffff;
  border: 1px dashed;
  border-radius: 12px;
  color: #1c8adb;
  display: flex;
  justify-content: space-between;
  margin: 10px auto;
  padding: 5px;
  width: 80%;
}

.mat-card {
  height: 90%;
  margin: 10px;
  width: 100%;
}

mat-radio-button {
  margin: 5px 5px 5px 0;
}

.mat-form-field {
  margin-top: 16px;
  width: 100%;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.opla-dialog-full-panel {
  height: 85vh;
  max-width: 100vw !important;
  width: 97vw !important;
}

.opla-dialog-panel {
  height: 85vh;
  width: 60vw;
}

.opla-grid-list, opla-grid-list {
  display: flex;
  flex-wrap: wrap;
}

.opla-grid-tile, opla-grid-tile {
  display: flex;
  flex: 1 0 21%;
  margin: 3px;
  min-width: 300px;
}

.table-column-element-description {
  padding: 16px;
}

.table-column-element-detail {
  display: flex;
  overflow: hidden;
}

.table-column-element-diagram {
  border: 2px solid black;
  font-weight: lighter;
  height: 104px;
  margin: 8px 0;
  min-width: 80px;
  padding: 8px;
}

.table-column-element-symbol {
  font-size: 30px;
  font-weight: bold;
  line-height: normal;
}

.ng-tooltip-info {
  font-size: 16px;
  padding-left: 2px;
}

.ng-tooltip-info:hover {
  opacity: .5;
}

.ng-tooltip {
  background: #282a36;
  border-radius: 4px;
  color: #f8f8f2;
  font-size: 14px;
  max-width: 300px;
  opacity: 0;
  padding: 3px 8px;
  position: absolute;
  text-align: center;
  z-index: 1000;
}

.ng-tooltip:after {
  border-style: solid;
  content: "";
  position: absolute;
}

.ng-tooltip-top:after {
  border-color: black transparent transparent transparent;
  border-width: 5px;
  left: 50%;
  margin-left: -5px;
  top: 100%;
}

.ng-tooltip-bottom:after {
  border-color: transparent transparent black transparent;
  border-width: 5px;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
}

.ng-tooltip-left:after {
  border-color: transparent transparent transparent black;
  border-width: 5px;
  left: 100%;
  margin-top: -5px;
  top: 50%;
}

.ng-tooltip-right:after {
  border-color: transparent black transparent transparent;
  border-width: 5px;
  margin-top: -5px;
  right: 100%;
  top: 50%;
}

.ng-tooltip-show {
  opacity: 1;
}

@media screen and (max-width: 900px) {
  .hide-on-tablet {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .hide-on-mobile {
    display: none;
  }

  .opla-dialog-panel {
    max-width: 100vw !important;
    width: 97vw !important;
  }
}
