<opla-grid-list>
  <opla-grid-tile>
    <mat-card>
      <div class="example-container" *ngIf="optimizationDto">
        <form [formGroup]="formGroup">
          <opla-grid-list>
            <opla-grid-tile>
              <mat-checkbox [(ngModel)]="optimizationDto.config.smarty" formControlName="smarty">SMarty</mat-checkbox>
            </opla-grid-tile>
            <opla-grid-tile>
              <mat-checkbox [(ngModel)]="optimizationDto.config.feature" formControlName="feature">Feature
              </mat-checkbox>
            </opla-grid-tile>
            <opla-grid-tile>
              <mat-checkbox [(ngModel)]="optimizationDto.config.patterns" formControlName="patterns">Patterns
              </mat-checkbox>
            </opla-grid-tile>
            <opla-grid-tile>
              <mat-checkbox [(ngModel)]="optimizationDto.config.relationships" formControlName="relationships">
                Relationships
              </mat-checkbox>
            </opla-grid-tile>
          </opla-grid-list>
          <opla-grid-list>
            <opla-grid-tile>
              <mat-form-field [floatLabel]="floatLabelControl.value">
                <mat-label>Smarty Profile</mat-label>
                <input [disabled]="!optimizationDto.config.smarty" matInput
                       [value]="optimizationDto.config.pathToProfile"
                       name="pathToProfile">
              </mat-form-field>
            </opla-grid-tile>
            <opla-grid-tile>
              <mat-form-field [floatLabel]="floatLabelControl.value">
                <mat-label>Feature Profile</mat-label>
                <input [disabled]="!optimizationDto.config.feature" matInput
                       [value]="optimizationDto.config.pathToProfileConcern"
                       name="pathToProfileConcern">
              </mat-form-field>
            </opla-grid-tile>
          </opla-grid-list>
          <opla-grid-list>
            <opla-grid-tile>
              <mat-form-field [floatLabel]="floatLabelControl.value">
                <mat-label>Pattern Profile</mat-label>
                <input [disabled]="!optimizationDto.config.patterns" matInput
                       [value]="optimizationDto.config.pathToProfilePatterns"
                       name="pathToProfilePatterns">
              </mat-form-field>
            </opla-grid-tile>
            <opla-grid-tile>
              <mat-form-field [floatLabel]="floatLabelControl.value">
                <mat-label>Relationship Configuration</mat-label>
                <input [disabled]="!optimizationDto.config.relationships" matInput
                       [value]="optimizationDto.config.pathToProfileRelationships"
                       name="pathToProfileRelationships">
              </mat-form-field>
            </opla-grid-tile>
          </opla-grid-list>
        </form>
      </div>
    </mat-card>
  </opla-grid-tile>
</opla-grid-list>
