<div class="example-container">
  <form [formGroup]="options">
    <mat-grid-list cols="3" rowHeight="500px">
      <mat-grid-tile>
        <mat-card>
          <h5>Settings</h5>
          <div>
            <mat-form-field>
              <mat-label>Select Algorithm which want use</mat-label>
              <mat-select [(value)]="optimizationDto.algorithm">
                <mat-option value="NSGAII">NSGA II</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field [floatLabel]="floatLabelControl.value">
              <mat-label>Number of runs</mat-label>
              <input matInput placeholder="30...">
            </mat-form-field>
            <mat-form-field [floatLabel]="floatLabelControl.value">
              <mat-label>Max evaluations</mat-label>
              <input matInput placeholder="30000...">
            </mat-form-field>
            <mat-form-field [floatLabel]="floatLabelControl.value">
              <mat-label>Population Size</mat-label>
              <input matInput placeholder="200...">
            </mat-form-field>
            <mat-form-field [floatLabel]="floatLabelControl.value">
              <mat-label>Archive size</mat-label>
              <input matInput placeholder="2...">
            </mat-form-field>
          </div>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <h5>Objective Functions</h5>
          <div class="operators-functions">
            <mat-checkbox [formControl]="hideRequiredControl">Conventional</mat-checkbox>
            <mat-checkbox [formControl]="hideRequiredControl">Feature Driven</mat-checkbox>
            <mat-checkbox [formControl]="hideRequiredControl">Feature Interlacing</mat-checkbox>
            <mat-checkbox [formControl]="hideRequiredControl">Feature Diffusion</mat-checkbox>
            <mat-checkbox [formControl]="hideRequiredControl">Component Coupling</mat-checkbox>
            <mat-checkbox [formControl]="hideRequiredControl">Size</mat-checkbox>
            <mat-checkbox [formControl]="hideRequiredControl">PLA Extensibility</mat-checkbox>
            <mat-checkbox [formControl]="hideRequiredControl">Cohesion</mat-checkbox>
            <mat-checkbox [formControl]="hideRequiredControl">Elegance</mat-checkbox>
            <mat-checkbox [formControl]="hideRequiredControl">LLC</mat-checkbox>
            <mat-checkbox [formControl]="hideRequiredControl">Wocsclass</mat-checkbox>
            <mat-checkbox [formControl]="hideRequiredControl">Wocsinterface</mat-checkbox>
            <mat-checkbox [formControl]="hideRequiredControl">CBCS</mat-checkbox>
            <mat-checkbox [formControl]="hideRequiredControl">SVS</mat-checkbox>
            <mat-checkbox [formControl]="hideRequiredControl">SSC</mat-checkbox>
            <mat-checkbox [formControl]="hideRequiredControl">AV</mat-checkbox>
          </div>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <h5>Interaction - Learning Settings</h5>
          <div>
            <mat-form-field>
              <mat-label>Select the clustering moment</mat-label>
              <mat-select [(value)]="optimizationDto.clusteringMoment">
                <mat-option value="APRIORI">APRIORI</mat-option>
                <mat-option value="INTERACTIVE">INTERACTIVE</mat-option>
                <mat-option value="POSTERIORI">POSTERIORI</mat-option>
                <mat-option value="BOTH">BOTH</mat-option>
                <mat-option value="NONE">NONE</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-label>Select the clustering moment</mat-label>
              <mat-select [(value)]="optimizationDto.clusteringMoment">
                <mat-option value="KMEANS">KMEANS</mat-option>
                <mat-option value="DBSCAN">DBSCAN</mat-option>
                <mat-option value="OPTICS">OPTICS</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field [floatLabel]="floatLabelControl.value">
              <mat-label>Max interactions</mat-label>
              <input matInput placeholder="3...">
            </mat-form-field>
            <mat-form-field [floatLabel]="floatLabelControl.value">
              <mat-label>First interaction</mat-label>
              <input matInput placeholder="3...">
            </mat-form-field>
            <mat-form-field [floatLabel]="floatLabelControl.value">
              <mat-label>Interval</mat-label>
              <input matInput placeholder="3...">
            </mat-form-field>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="3" rowHeight="250px">
      <mat-grid-tile>
        <mat-card>
          <h5>Operators</h5>
          <mat-checkbox [formControl]="hideRequiredControl">Mutation</mat-checkbox>&nbsp;
          <mat-slider
            [disabled]="false"
            [invert]="false"
            [max]="10"
            [min]="0"
            formControlName="mutation"
            [step]="1"
            [thumbLabel]="false"
            [(ngModel)]="optimizationDto.mutationProbability"
            [vertical]="false">
          </mat-slider>
          <br>
          <mat-checkbox [formControl]="hideRequiredControl">Crossover</mat-checkbox>&nbsp;
          <mat-slider
            [disabled]="false"
            [invert]="false"
            [max]="10"
            [min]="0"
            formControlName="crossover"
            [step]="1"
            [thumbLabel]="false"
            [(ngModel)]="optimizationDto.crossoverProbability"
            [vertical]="false">
          </mat-slider>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <h5>Mutation Operators</h5>
          <div class="operators-functions" style="margin: 20px;">
            <mat-checkbox [formControl]="hideRequiredControl">Feature-driven Mutation</mat-checkbox>
            <mat-checkbox [formControl]="hideRequiredControl">Move Operation Mutation</mat-checkbox>
            <mat-checkbox [formControl]="hideRequiredControl">Move Method Mutation</mat-checkbox>
            <mat-checkbox [formControl]="hideRequiredControl">Add Manager ClassMutation</mat-checkbox>
            <mat-checkbox [formControl]="hideRequiredControl">Add Class Mutation</mat-checkbox>
            <mat-checkbox [formControl]="hideRequiredControl">Move Attribute Mutation</mat-checkbox>
          </div>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card>
          <h5>Paths</h5>
          <div>
            <mat-form-field [floatLabel]="floatLabelControl.value">
              <mat-label>Select the input PLA</mat-label>
              <input matInput placeholder="/home/...">
            </mat-form-field>
            <mat-form-field [floatLabel]="floatLabelControl.value">
              <mat-label>Change the input directory</mat-label>
              <input matInput placeholder="/home/...">
            </mat-form-field>
          </div>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>

  </form>
</div>
